{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Test Execution Manager</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'runs/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'runs/css/sb-admin.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'runs/font-awesome/css/font-awesome.min.css' %} " rel="stylesheet" type="text/css">
</head>
<body>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>
                        Test Execution Manager <small>A general purpose tool to submit and veiry tests runs</small>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <form action="{% url 'runs:index' %}" method="post">
                                    {% csrf_token %}
                                    <div class="col-lg-4">
                                        <label>User Name</label>
                                        <input class="form-control" name="user_name" />
                                        <p class="help-block">Example block-level help text here.</p>
                                    </div>
                                    <div class="col-lg-4">
                                        <label>Test Name</label>
                                        <input class="form-control" name="test_name"/>
                                        <p class="help-block">Example block-level help text here.</p>
                                    </div>

                                    <div class="col-lg-4">
                                        <label>Test Environment</label>
                                        <select class="form-control" name="test_env">
                                            <option selected="selected">1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                        <p class="help-block">Example block-level help text here.</p>
                                    </div>
                                    <div class="panel-footer col-lg-12 text-center">
                                        <button type="submit" class="btn btn-default">Submit Button</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if errors %}
            <div class="row">
                <div class="col-lg-12">
                    {% for error in errors %}
                    <div class="alert alert-danger">
                        <strong>Error:</strong> {{ error}}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if success %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-success">
                        Success: Test execution submitted.
                    </div>
                </div>
            </div>
            {% endif %}
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Tests Execution Status
                </li>
            </ol>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Test Name</th>
                                        <th>User</th>
                                        <th>Start</th>
                                        <th>End</th>
                                        <th>Environment</th>
                                        <th>Status</th>
                                        <th>Output</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for run in runs_list %}
                                    <tr class="{% if run.status.id == 1 %}active{% elif run.status.id == 2 %}danger{% elif run.status.id == 3 %}success{% else %}warning{% endif %}">
                                        <td>{{ run.id }}</td>
                                        <td>{{ run.test.name }}</td>
                                        <td>{{ run.user.name }}</td>
                                        <td>{% if run.start %}{{ run.start }}{% else %}{% endif %}</td>
                                        <td>{% if run.end %}{{ run.end }}{% else %}{% endif %}</td>
                                        <td>{{ run.environment.description }}</td>
                                        <td>{{ run.status.value|upper }}</td>
                                        <td><a target="_blank" href="{% static 'runs/autotests/runs/' %}{{ run.id }}.txt">View</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{% static 'runs/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'runs/js/bootstrap.min.js' %}"></script>
</body>
</html>
